.floating-profile{
    display:none;
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    right:0;
    margin: 10px;
    width: 250px;
    height: 320px;
    background-color: whitesmoke;
    z-index: 1000;

    box-shadow:2px 6px 9px #999;
    -moz-box-shadow:2px 6px 9px #999;
    o-box-shadow:2px 6px 9px #999;
    -webkit-box-shadow:2px 6px 9px #999;
    background-color:#000;
}

.profile-image{
    display: inline-block;
    text-align: center;
    margin-left: 28%;
    max-width: 38%;
}

.profile-body{
    padding:10px;
    background-color: #475059;
    color:#fff;
}

.profile-header{
    padding-top:3px;
    padding-left: 10px;
    padding-right: 10px;
    height: 23px;
    background-color:rgba(0,0,0,0.8);
    color:#fff;
}
.page-footer{
    height:auto !important;
}
#myWindow {
    width: 400px;
    overflow-x: scroll;
}

.k-grid-content
{
    position:static !important;   

}.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    text-align: start;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.popover .arrow, .popover .arrow:after
{
    display:block !important;
}



/*rajan's css new*/
.page-sidebar .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a
{
    background-color:#2F9E1E;

}
.page-header.navbar
{
    background-color:#eee;
}
.page-sidebar .page-sidebar-menu > li.active.open > a:hover, .page-sidebar .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover 
{
    background-color:#559767 !important;

}
.page-logo img
{

    /*height:auto !important
    weight:auto !important;*/
}
.nav-item 
{
    border-bottom:solid #eee 1px;	
}
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a
{
    background-color:#ddd !important;	


}




.page-sidebar-menu.page-header-fixed
{
    padding-top:0px !important;	
}




.heading h3.uppercase
{
    color:green !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    padding-top:0px !important;
    padding-bottom:0px !important;	
}

.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a
{
    font-size:12px !important;	
}
.page-sidebar .page-sidebar-menu .sub-menu li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a,.k-link
{
    font-size:12px !important;	
}
.margin-top-20 {
    margin-top: 8px !important;
}
.table-toolbar {
    margin-bottom: 10px;
}
.k-grid td, .customTable td
{
    font-size:11px !important;
    border-bottom:solid #eee 1px !important; 
    border-color: #eee !important;
}
logo-default
{
    max-width:150px !important;
    width:auto !important;
    height:auto !important; 
}
.k-filter-help-text 
{
    font-size:11px; 
}
form.k-filter-menu .k-widget, form.k-filter-menu .k-textbox
{
    font-size:11px !important; 
    margin-bottom:5px;
}
.k-primary, .k-overflow-container .k-primary
{
    background-color: #bcd543 !important;
    background-image:none !important;
    border-color:#ddd !important; 

    background-color:#2f9e1e !important;
}

.k-primary:hover, .k-overflow-container .k-primary:hover
{
    background-color: #bcd543 !important;
}
.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list > .k-state-selected, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color
{
    background-color:#2f9e1e !important;
    border-color:#ddd !important; 

}
.select2-container--bootstrap .select2-results__option[aria-selected="true"]
{
    font-size:11px !important;  
}

.select2-container--bootstrap .select2-selection--single
{
    font-size:11px;  
}
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered
{
    font-size:11px;    
}
.table thead tr th
{
    font-size:12px;  
}
.heading
{
    padding-top:0px !important;
    padding-bottom:5px !important;  
}


.logo-default {
    margin: 4px 0 0 !important;
    max-width: 90%;
}
.sub-menu
{
    margin:0px !important;	
}
#subMenuChildGroupAssign,#subMenuMyProfile,#subMenuLeaveApply,#subMenuHolidaySetup,#subMenuAttendanceStatus,#subMenuChildFlatValueDetail,#subMenuChildMonthlyValDetail,#subMenuGenerate,.sub-menu
{
    border-bottom:none !important;	
}
.custom-footer,.page-footer{
    background-color:#ddd;
    height:auto !important;
   
}
.page-footer .page-footer-inner
{
    padding-top:12px;
}
.page-footer{
    
}
.page-footer .page-footer-inner
{
    padding-top:0px !important;
}
.scroll-to-top > i,.copyright a,.copyright
{
    color:#000 !important;

}
.copyright a:hover
{
    color:#000 !important;	
}

.portlet.light.bg-inverse
{box-shadow:1px 1px 1px 1px #ccc;
 -moz-box-shadow:1px 1px 1px 1px #ccc;
 -o-box-shadow:1px 1px 1px 1px #ccc;
 -webkit-box-shadow:1px 1px 1px 1px #ccc;
}
.portlet.light > .portlet-title > .caption > .caption-subject
{
    font-size:13px;	

}
.cborder
{
    padding:0px !important;	
}
.mt-element-list .list-simple.ext-1.mt-list-container ul > .mt-list-item
{
    padding-top:5px;
    padding-bottom:5px;	
}
.list-datetime
{
    width:auto !important;	
}
.portlet > .portlet-title
{
    min-height:auto !important;	
}
.portlet.light > .portlet-title > .caption
{
    padding-bottom:5px !important;	
}
.cborder
{
    position:relative !important;
}
.cborder:after
{
    position:absolute;
    background-color:#2f9e1e;
    height:3px;

    content:"";
    left:0px;
    top:23px;

    left: 21px;

    top: 23px;
    width: 54px
}
.page-sidebar .page-sidebar-menu > li > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i
{
    font-size:14px !important;  
}
.mt-element-list .list-simple.mt-list-container ul > .mt-list-item > .list-item-content > h3
{
    font-size:14px;
}
.mt-element-list .list-simple.ext-1.mt-list-container ul > .mt-list-item.done:hover
{
    border-color:#C8DA69 !important;
    background-color:#eee;

}
.mt-element-list .list-simple.mt-list-container ul > .mt-list-item > .list-icon-container
{
    font-size:12px;  
}
.k-button.k-primary,.k-button
{
    padding:2px;  
}
.select2-container--bootstrap .select2-selection--single
{
    height:22px !important;  
}
.select2-results__option
{
    font-size:12px;  
}



.formbg
{
    background-color: #eee;
    margin-top: 5px;
    padding: 5px;	
    border:solid #ddd  1px;
    box-shadow:3px 3px 11px #ccc;
    moz-box-shadow:3px 3px 11px #ccc;
    -o-box-shadow:3px 3px 11px #ccc;
    -webkit-box-shadow:3px 3px 11px #ccc;



}
.arrowtop
{
    position:relative;

}
.arrowtop:before
{


    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #eee;
    content: "";
    display: inline-block;
    height: 10px;
    left: 10%;
    margin-left: -10px;
    position: absolute;
    text-decoration: none;
    top:-10px;
    transform: rotate(180deg) !important; 
    -moz-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;

    width: 20px;	
}
.btn.green:not(.btn-outline),.green
{
    background-color:#63AB6A !important;	
    border-color:#fff !important;
}
.cbtn
{
    background-color:#FFCF75;	
}
.btn.cbtn
{
    background-color:#63AB6A!important;
    border-color: #fff;
    color: #fff;
}
.list-icon-container i
{
    color:#2f9e1e;	
}
.btn.btn-default.form-control.i-search {
    margin-top: 3px;
    padding: 3px;
}
.form-control,.select2-selection--single 
{
    height:23px !important;
    border-radius:0px !important;
    padding-top:2px;
    padding-bottom: 2px;
    font-size: 11px !important;
    padding-right:0px !important;

}

#viewEmployees
{

    /*padding-bottom:22px;*/	
}
.row.e-setup
{
    font-size:11px;

}
.rightalign{
    text-align: right !important;
    padding-right: 5 !important;
    width:50% !important;
    /*    width:58% !important;*/
}
.rightalign-2
{
    text-align: right !important;
    width:42%;
    padding-right: 5 !important;
}

.rightalign-3
{
    text-align: right !important;
    width:46%;
    padding-right: 5 !important;
}
.rightalign-4
{
    text-align: right !important;
    width:46%;
    padding-right: 5 !important;
}
.cgap {
    padding-left: 0;
    padding-right:15px;
    width: 50% !important;
    /*    width:42%;*/
}
.cgap-2
{
    width:58%;
    padding-left: 0;
    padding-right:15px;
}

.cgap-3
{
    width:54%;
    padding-left: 0;
    padding-right:15px;   
}
.cgap-4
{
    width:54%;
    padding-left: 0;
    padding-right:15px;    
}

.rightalign label,.rightalign-2 label,.rightalign-3 label,.rightalign-4 label
{

    position: relative;
}
.rightalign label:after,.rightalign-2 label:after,.rightalign-3 label:after,.rightalign-4 label:after{

    position:absolute;
    content:":";
    right:-7px;


}


.aditional label{

    font-size: 11px !important;
}

.btn.btn-link{
    border:solid #ddd 1px;
    box-shadow:0px 3px 3px 1px #ddd;
    -moz-box-shadow:0px 3px 3px 1px #ddd;
    -o-box-shadow:0px 3px 3px 1px #ddd;
    -webkit-box-shadow:0px 3px 3px 1px #ddd;
}

.post-btn
{
    padding-top:2px !important;
    padding-bottom:2px !important;
}

.tabbable-custom > .nav-tabs > li.active
{
    border-top: 3px solid #2f9e1e;	
}
.tabbable-custom > .nav-tabs > li.active a i
{
    color:#2f9e1e;;

}
#qualificationTbl tr td label
{

    font-size:13px;
}
.tabbable-custom ul li a
{

    font-size: 13px !important;   
}
.input-group-addon
{
    padding: 2px 3px;
    border-radius:0px;	
}
.i-search
{
    padding-bottom:20px !important;
    margin-top:4px;	
}
.k-pager-info.k-label
{
    font-size:11px;	
}

.dropzone
{
    border: 1px solid #ccc !important;
    box-shadow: 3px 4px 21px 4px #eee;
}
.dropzone:hover
{
    box-shadow: 3px 4px 10px 10px #eee;	
    transition:all 0.2s ease-in-out 0.2s;
}
#qualificationTbl tr td
{
    background-color:rgba(0,0,0,0.02);	
}
.input-group.date input, .e-setup input
{
    font-size:11px;
    padding:2px 1px !important;
}

.esetup label
{
    font-size:12px;
}
.row.clearfix.e-setup{

    padding-right: 5px !important;
    padding-left: 5px !important;
}

.e-setup input{
    color:#333f !important;

}
.tabbable-custom ul li a
{

    color:#333;  
}
.tabbable-custom > .nav-tabs > li.active > a{

    color:#2f9e1e;  
}
.personal-info,.Emergency-info,.permanent-info,.Temporary-info,.family-info,.identification-infomation,.status-info
{
    border:solid #ddd 1px;
    margin-top:10px; 
    box-shadow:3px 3px 2px 0px #ddd;
    -moz-box-shadow:3px 3px 2px 0px #ddd;
    o-box-shadow:3px 3px 2px 0px #ddd;
    webkit-shadow:3px 3px 2px 0px #ddd;

}

.personal-info > p,.Emergency-info > p,.permanent-info p,.Temporary-info p,.Temporary-info p,.family-info p,.identification-infomation p,.status-info p
{
    padding:5px 10px; 

    color:#fff;
}
.select2-container .select2-selection--single .select2-selection__rendered
{

    text-align:left;
}
.tabbable-custom p{

    font-weight: 600;
    margin-bottom: 9px;
    margin-top:0px;  
    background-color:#ddd;
    font-size: 13px;
    color:#333;
}
.select2-container--bootstrap .select2-selection,.select2-container--bootstrap .select2-selection--single .select2-selection__rendered{
    font-family: "Open Sans",sans-serif !important;
    color:#333 !important;
}
.bottomgap{

    margin-bottom:8px;
}
.margin
{
    margin-right:34%;
}
.e-setup input{

    height:22px !important;
    padding-left:5px !important;
}
.select2-container--bootstrap .select2-selection--single{
    padding-top: 2px !important;

}
.ticon
{
    padding-right: 2px;
    font-size: 12px;
    color:gray;
}
.iconcolor{
    color:gray;  
}
.sbutton
{

    font-size: 11px !important;
    padding:6px !important;
}
.checkboxgap
{
    padding-top: 9px !important;   

}
.customtbl tr td
{
    padding-top:5px !important;
    padding-bottom: 5px !important;

}
.rankwidth{
    width:13%;
}
.customtbl tr td input{
    font-size: 11px !important;
    color:#555;
}
.btn-edit,.btn-delete
{
    font-size:15px; 
    text-decoration:none;
    display: inline-block;
    padding: 3px 5px;



}
.btn-edit
{
    color:#63ab6a; 

}
.btn-delete
{
    color:gray;   
    margin-left:6px;
}
.btn-edit:hover,.btn-delete:hover
{
    background-color:#63ab6a;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;


}
.btn-edit:hover i,.btn-delete:hover i
{
    color: #fff;


}
.btn-edit,.btn-delete {
    background-color: #eee;
    border: 1px solid #ddd;
    padding-left: 5px;
    padding-right: 5px;
}


.generate-month a{
    font-size:12px !important;
    padding-top:4px !important;
    padding-bottom: 4px !important;
}


.dropdown-menu.dropdown-menu-default > li{
    border-bottom:solid #eee 1px;
}
.dropdown-menu.dropdown-menu-default a
{
    font-size: 12px !important;
}
.k-state-border-down span
{

    transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}
.portlet > .portlet-title > .caption > i {
    color: #999;
    display: inline-block;
    float: left;
    font-size: 16px;
    margin-right: 5px;
    margin-top: 2px;
}
.company-form input
{
    padding-top:0px !important;
}
.dropdown-select select 
{
    height:22px !important;
    padding-top:1px !important;
    font-size: 11px !important;
}
.input-group.date{
    width:100%;
}
/* .academic,.program{
     width:17%;
 }
 .university,.degree{
     width:20%;
 }
 .rank
 {
     width:15%;
 }
 .rankvalue{
     width:10%;
 }
 .passyr
 {
      
 }
 .checkbtn{
     width:1%;
 }*/

.profilepic {
    border: 2px solid #eee;
    float: left;
    margin-left: 13px;
    margin-right: 90px;
    max-width: 14%;
    text-align: center !important;
}
.customtbl td
{
    font-size: 12px;
}
.btn.btn-outline.green{
    color:#fff !important;
    border:solid #fff 1px !important;
}
.btn.btn-outline.green:hover
{
    background-color: #eee!important; 


}
select{

    padding-top:0px !important;
    color:#333 !important;
}
.btnsearch
{
    padding:1px 18px !important;
    margin-top: -3px;
    margin-right: 62px;
    background-color: #ddd !important;
    color:#333 !important;
    border:solid #fff !important;
    border-radius:15px !important;
}
.table-toolbar a,.btn.green,.btn.cbtn.btn-outline.dropdown-toggle
{
    font-size:11px !important;
}
.btn.btn-outline.green.active, .btn.btn-outline.green:active, .btn.btn-outline.green:active:focus, .btn.btn-outline.green:active:hover, .btn.btn-outline.green:focus, .btn.btn-outline.green:hover
{
    background-color:#4FBA3A !important;
    color:#fff !important;
}
.first
{
    background-color:#eee !important;
}
#min-max-btn:hover
{
    cursor:pointer;
}
#viewHolidays
{
    margin-top:7px !important;
}

.btnsearch
{
    padding:10px !important;
}
.gaptop{
    margin-top: 20px;
    margin-right: 15px;
}
.i-search 
{
    border-radius:15px !important;
    border-bottom: 2px solid #b2b1b1;
    text-shadow: 0px 1px 0px #fafafa;
     background: #ccc !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#e2e2e2));
    background: -moz-linear-gradient(top,  #eee,  #e2e2e2);     
}
.i-search:hover{

    background-color:#ccc;
    box-shadow:2px 2px 2px #eee;
}


.slimScrollDiv
{
    min-height: 169px;
}
#export{
    font-size: 11px;
}
.file,input[type="file"]  

{
    padding-bottom: 28px !important;
}
.form-control
{
    color:#333 !important;
}
.help-block.error {
    color: red;
    font-size: 11px;
    list-style: outside none none;
    margin-top:0px;
    padding-left: 0;
}
.custometbletwo td
{
    font-size:11px !important;
}
.custom-box
{
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5) !important;

}
.form-group input{
    padding-right:0px !important;
    padding-left:5px !important;

}
.portlet > .portlet-title > .caption{
    font-size: 14px !important;
}
form label
{
    font-size: 11px !important;
}
#form_wizard_1
{
    margin-top: 10px;
}
.input-group.date input
{
    padding-left:5px !important;
}
.select2-selection__rendered,.select2-selection.select2-selection--multiple
{
    height:23px !important;
    min-height: 23px !important;
    border-radius: 0px !important;
    padding-bottom: 2px;

    font-size: 11px !important;
    padding-top: 2px;
}
.select2-selection__choice
{
    margin-top: 0px !important;  
}
.select2-search__field
{
    height:23px !important;
}
.input-group.date input{
    padding-left:5px !important;
}
.jstree-default .jstree-anchor,ul#roleList li 
{font-size: 12px !important;}
.tabbable-line ul li a{
    font-size: 12px !important;
}
.jstree-default .jstree-icon:empty{
    color:#559767;
}
.btn-success{
  background-color: #559767 !important;
    border-color: #559767 !important;
    color: #fff !important;
    padding:2px 18px !important;
    margin-bottom:5px;
}
.md-checkbox label > .box {
    border: 1px solid #999 !important;
}
.md-checkbox label > .check{
 border-color:-moz-use-text-color #559767 #559767 -moz-use-text-color   
}  
.menusetuptab > .nav-tabs > li.active,.menusetuptab > .nav-tabs > li:hover

 {
   border-bottom: 4px solid #999 !important;
 }

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .col-box
    {
        width:33.3333% !important;   

    }
    .rightalign{
        width:54% !important;
    }
    .cgap {
        width: 42% !important;
    }
    .gapspaceing{
        margin-left: 0px !important;
        width:100% !important;
    }
    .previous button,.next button
    {
        margin-top: 8px;
    }
    .profilepic {


        margin-bottom: 20px;
        margin-left: 13px;
        float:none !important;
        max-width: 20%;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .rightalign {

        width:40% !important;
    }
    .cgap {

        width:60%;
    }
    .previous button,.next button
    {
        margin-top: 8px;
    }

    .profilepic
    {

        margin-bottom: 20px;
        margin-left: 35px;
        margin-right: 90px;
        max-width: 16%;
        float:none !important;

    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .rightalign {

        width:25% !important;
    }
    .cgap {

        width:75%;
    }
    .rightalign-2{
        width:26% !important; 
    }
    .cgap-2{
        width:74% !important;
    }
    .rightalign-3{
        width:26% !important; 
    }
    .cgap-3{
        width:74% !important;
    }
    .rightalign-4{
        width:26% !important; 
    }
    .cgap-4{
        width:74% !important;
    }
    .previous button,.next button
    {
        margin-top: 8px;
    }
    .profilepic
    {

        margin-bottom: 20px;
        margin-left: 35px;
        margin-right: 90px;
        max-width: 16%;


    }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .rightalign {

        width: 43% !important;
    }
    .cgap {

        width: 57%;
    } 
    .gapspaceing{
        padding-right:0px;
        padding-left:0px;
        padding-bottom: 25px !important; 
    }
    .rightalign-2{
        width:47% !important; 
    }
    .cgap-2{
        width:53% !important;
    }

    .rightalign-3{
        width:52% !important; 
    }
    .cgap-3{
        width:48% !important;
    }
    .post-btn
    {
        margin-top: 0px;
        margin-bottom: 0px;

    }
    .tabbable-custom > .nav-tabs > li{
        width:100%;
    }
    .tabbable-custom > .nav-tabs > li.active
    {
        border-bottom: solid #eee 1px;
    }
    .profilepic {

        float: left;
        margin-bottom: 20px;
        margin-left: 67px;
        margin-right: 90px;
        max-width: 44%;
    }

    .msgForError{
        padding:15px;
        color:red;
        font-size:11px;

    }

}



/*rajan's css new end here*/


