.floating-profile{
    display:none;
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    right:0;
    margin: 10px;
    width: 250px;
    height: 350px;
    background-color: whitesmoke;
    z-index: 1000;
}

.profile-image{
    display: inline-block;
    text-align: center;
    max-width: 61%;
    margin-left: 20%;
}

.profile-body{
    padding:10px;
}

.profile-header{
    padding-top: 0.1em;
    padding-left: 10px;
    padding-right: 10px;
    height: 1.6em;
    background-color: wheat;
}

#myWindow {
    width: 400px;
    overflow-x: scroll;
}