.custom-page-title{
    margin: 0 0 10px 0 !important;
    display: inline !important;
}

.custom-page-title small{
    font-size: 13px !important;
}

.custom-breadcrumb{
    color: #888;
    font-size: 13px;
    text-shadow: none;
    margin-bottom:15px !important;
    margin-top:2px !important;
}

.custom-breadcrumb a{
    color: #888;
    font-size: 13px;
    text-shadow: none;
}
.custom-header{
    margin-bottom: 20px !important;
}

.custom-box{
    /*box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.22)!important;*/
    /*    box-shadow: 0 3px 6px rgba(197, 194, 194, 0.04),0 3px 6px rgba(132, 125, 125, 0.37)!important;*/
    background-color: #eaedf2;
    color: #666;
    border: 1px solid #eaedf2;


}

.custom-box.box>.portlet-title {
    color:rgba(102, 102, 102, 0.92) !important;
}
.dropdown-select select{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #4d6b8a;
    background-color: #fff;
    background-image: none;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s
}


/*body{
    background-color: #fff !important;
}*/

.border-bottom{
    border-bottom: 1px solid #ddd;
}
.rlPadding {
    padding: 0px 14px;
}

ul#roleList{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul#roleList li{
    border: 1px solid #ccc;
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 20px;

    height: 30px;
    margin: 5px 0;
    padding: 4px 10px 5px 10px;
    color: #666;
    text-decoration: none;
    font-weight: 400;
    border-radius: 3px;
}

ul#branchList{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}
